body{
   font-family: "formula1-display-regular";
   src: url("https://candyfonts.com/wp-data/2018/10/26/11543/Formula1-Regular_web_0.ttf") format("woff"),
       url("https://candyfonts.com/wp-data/2018/10/26/11543/Formula1-Regular_web_0.ttf") format("opentype"),
       url("https://candyfonts.com/wp-data/2018/10/26/11543/Formula1-Regular_web_0.ttf") format("truetype");
   color: black;
}
.center{
   text-align: center;
   margin-top: 20px;
}
.container {
   margin-top: 10%;
   position: relative;
   width: 50%;
   }
.image {
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   opacity: 1;
   display: block;
   width: 50%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
   }
.img-responsive {
   margin-top: 10px;
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
   }
.container:hover .image {
   opacity: 0.3;
   }
.container:hover .middle {
   opacity: 1;
   }
.hovereffect {
   width: 100%;
   height: 100%;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
  }
.card {
   margin: 0 auto; 
   float: none; 
   margin-bottom: 10px; 
}
.inner{
   overflow: hidden;
 }
.inner img{
   transition: all 1.5s ease ;
 }
.inner:hover img{
   transform: scale(1.5);
 }
 .top{
   margin-top: 20px;
 }
 .left{
   margin-left: 20px;
 }
.indent{
   text-indent:30px;
   text-align: center;
}
p{
   color: gray;
   line-height:40px
}
.carousel-item {
   height: 900;
   width: 100%;
 }
 .item-img {
   position: absolute;
   top: 0;
   left: 0;
   min-height: 150px;
 }
.lineheight{
   line-height:40px;
}
.round {
   border-radius: 50%;
   height: 300px;
   width: 300px;
 }
 .right{
   margin-right: 20px;
}
.imagecountry {
   margin-top: 10px;
   margin-left: 50px;
   margin-right: 9px;
   opacity: 1;
   display: block;
   width: 30%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
   }
